h1= title

// iframe(width="720", height="566", src="http://www.ustream.tv/embed/3457996", scrolling="no", frameborder="0", style="border: 0px none transparent;")

script(src='/javascripts/app.js')

div.images
  img#camera

div.buttons
  h2 Hands
  input#handsOpen(type='button', value='↑')
  input#handsClose(type='button', value='↓')

  h2 Elbow
  input#elbowUp(type='button', value='↑')
  input#elbowDown(type='button', value='↓')

  h2 Soulder
  input#shoulderUp(type='button', value='↑')
  input#shoulderDown(type='button', value='↓')

  h2 Base
  input#baseRotate(type='button', value='↑')
  input#baseReverse(type='button', value='↓')
