!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    script(src='/socket.io/socket.io.js')
    script(src="/javascripts/jquery.min.js")
  body!= body
