!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, maximum-scale=1.0, minimum-scale=1.0')
    script(src='/socket.io/socket.io.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  body!= body
